
h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
	text-align: left;
	text-decoration: underline;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
	text-align: left;
	text-decoration: underline;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p  {color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul { 
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12pt; }

a { font-color: pink;
}

body{
	background-color:MistyRose;
	
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}

nav {
	color: pink;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 20pt;
}

